@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
<!- ouidhuihguo;gh;oui->
<div class="text-center">
    <h1 class="display-4">Hello  @User.Identity.Name</h1>
    <p>Please use the register buttons and Sign in buttons at the top right.</p>
</div>
