@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The use of all the images inside of this website is subject to and on;y to the use inside of the Company. By being a registered memeber of this site you agreed to the policy.</p>
<p>Thank you for understanding and for applying the rules.</p>
